@import "custom-bootstrap.scss";

body {
    background-color: $light;
}

h1,h2,h3,p{
    margin-bottom: 0 !important;
}

.outline-ring:hover{
    outline: 1.5px solid $light;
}

.secondary-fill {
    fill: $secondary;
}
.dark-fill{
    fill: $dark;
}

.divider{
    width: 100%;
    border-top: 2px solid black;
    margin: 2rem 0;
}

#quantityProduct{
    width: 3.5rem;
}