@import "custom-bootstrap.scss";

body {
    background-color: $light;
}

h1,h2,h3{
    margin-bottom: 0 !important;
}

.outline-ring:hover{
    outline: 1.5px solid $light;
}

.secondary-fill {
    fill: $secondary;
}
.dark-fill{
    fill: $dark;
}
